# Miscellaneous
*.class
*.log
*.lock
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub
.dart_tool/
.packages
build/
pubspec.lock

# Android
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
android/app/build/
android/.gradle

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# MacOS
macos/flutter/ephemeral/

# Web
web/icons/    # Icon generation artifacts
web/splash/   # Splash screen artifacts

# Environment Variables
.env
.env.*
!.env.example

# Firebase
firebase_options.dart
backend/service-account-key.json
backend/src/config/firebase-admin.json
