PORT=3000
# MongoDB Connection String (Local)
MONGO_URI=mongodb://127.0.0.1:27017/messaging_app

# Firebase Auth Credentials (Service Account)
GOOGLE_APPLICATION_CREDENTIALS=./service-account-key.json

# VPS Public URL (For serving media files)
VPS_PUBLIC_URL=http://localhost:3000
